.visit-container {
  margin: 5vh 5vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: -15vh;
}

.titl h1 {
  margin-left: 50vw;
  width: 30vw;
  letter-spacing: -2px;
  text-align: right;
  font-family: 'CustomFont1', sans-serif;
  font-size: 5rem;
  font-weight: bolder;
  opacity: 0;
  transform: translateX(-3rem);
  transition: opacity 0.5s ease-out, transform 0.5s ease-in-out;
}

.d {
  margin-top: -10vw;
}

.section {
  display: flex;
  align-items: center;
  margin-bottom: 3vw;
}

.parallax-media {
  flex: 1;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.text-container {
  flex: 1;
  margin-left: -7vw;
  text-align: left;
  padding: 1rem;
}

.directions-link {
  color: black;
  text-decoration: none;
}

.directions-link:hover {
  color: #04C75C;
}

.hover-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #04C75C;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.arrow {
  font-weight: 100;
  position: relative;
  transform: translateY(-50%);
  transition: transform 0.8s ease, color 0.8s ease;
}

.arrow svg {
  width: 70px;
  height: 70px;
  color: var(--stroke-color);
}

.arrow.inverted svg {
  transform: scaleX(-1);
}

.section:hover .arrow svg {
  transform: translateX(10px) scaleX(var(--scale, 1));
  color: #04C75C;
  transition: transform 0.3s ease, color 0.3s ease;
}

.section:hover .arrow.inverted svg {
  transform: translateX(-10px) scaleX(-1);
  color: #04C75C;
  transition: transform 0.3s ease, color 0.3s ease;
}

.text-container:nth-child(1) {
  margin-left: 10vw;
}

.text-container h2 {
  font-family: 'CustomFont2', sans-serif;
  font-size: 3rem;
  margin: 0 0;
  margin-top: 2vw;
  line-height: 1;
  font-weight: 100;
}

.text-container button {
  transform: translate(17vw, -5vw);
}

.text-container:nth-child(1) button {
  transform: translate(22vw, -5vw);
}

.text-container p {
  margin: 0 0;
  font-size: 1.3rem;
}

.text-container a {
  margin-left: 7vw;
}

.ada-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
}

.ada-button svg {
  width: 68px;
  height: 68px;
  fill: currentColor;
}

.ada-button:hover {
  color: #04C75C;
}

.ada-tooltip {
  visibility: hidden;
  opacity: 0;
  background-color: #04C75C;
  color: white;
  text-align: center;
  padding: 8px 12px;
  border-radius: 4px;
  position: absolute;
  border: none;
  z-index: 5;
  width: 20vw;
  font-family: 'CustomFont2', sans-serif;
  font-size: 1.3rem;
  bottom: 125%;
  left: 0;
  transform: translate(25%, 50%);
  transition: opacity 0.3s ease, visibility 0.3s ease;
  white-space: wrap;
}

.ada-tooltip::before {
  content: "";
  position: absolute;
  left: -0.5rem;
  bottom: 0px;
  width: 0px;
  height: 0px;
  z-index: 5;
  border-style: solid;
  border-width: 0rem 0rem 0.8rem 0.8rem;
  border-color: transparent transparent #04C75C transparent;
}

.ada-button:hover .ada-tooltip {
  visibility: visible;
  opacity: 1;
}

.section a::after {
  content: "↗";
  display: inline-block;
  margin-left: 0.2rem;
  transition: transform 200ms ease-in-out;
}

.section a:hover::after {
  transform: translate(0.2rem, -0.2rem);
}

.titl h1.fade-in {
  opacity: 1;
  transform: translateX(0);
}

@media(max-width:1250px) {
  .titl h1 {
    font-size: 6vw;
    width: 30vw;
  }

  .visit-container {
    margin: -15vh 3vw;
  }

  .text-container {
    margin-left: 0vw;
  }

  .text-container button {
    transform: translate(25vw, -7vw);
  }

  .text-container:nth-child(1) button {
    transform: translate(30vw, -7vw);
  }

  .text-container:nth-child(1) {
    margin-left: 0vw;
  }

  .ada-button svg {
    width: 50px;
    height: 50px;
  }

  .ada-tooltip {
    transform: translate(-23vw, 3vw);
  }

  .ada-tooltip::before {
    transform: translate(22.2vw, 0vw);
    border-width: 0.8rem 0rem 0rem 0.8rem;
    border-color: transparent transparent transparent #04C75C;
  }
}

@media(max-width:980px) {
  .visit-container {
    margin: -20vh 3vw;
    margin-bottom: -20vh;
  }

  .text-container {
    width: 90vw;
    display: inline;
  }

  .section {
    display: inline;
  }

  .titl h1 {
    margin-left: 32vw;
    width: 30vw;
    text-align: center;
    margin-bottom: 10vw;
  }

  .section .arrow svg path {
    transform: rotate(-90deg);
    transform-origin: center;
    transition: transform 0.8s ease;
  }

  .section:hover .arrow svg {
    transform: translateY(-10px) scale(1.1);
  }

  .section:hover .arrow.inverted svg {
    transform: translateY(-10px) scale(1.1);
  }

  .section {
    display: flex;
    flex-direction: column;
  }

  .section:nth-child(2) .parallax-media {
    order: 1;
  }

  .section:nth-child(2) .text-container {
    order: 2;
  }

  .ada-button svg {
    transform: translateX(50vw);
  }

  .ada-tooltip {
    transform: translate(28vw, 2vw);
  }

  .ada-tooltip {
    font-size: 0.9rem;
  }

  .ada-tooltip::before {
    transform: translate(23vw, 0vw);
    border-width: 0.8rem 0rem 0rem 0.8rem;
    border-color: transparent transparent transparent #04C75C;
  }
}

@media (max-width:800px) {
  .visit-container {
    margin: 0vh 3vw;
  }
}